body {
  background-color: #ffebcc;
  color: #333;

  background: #ffebcc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffebcc, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffebcc, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffebcc, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffebcc, white); /* Standard syntax */
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.verseStyle {
  font-size: small;
  /font-style: italic;
}

.timeTableHeading {
  position: relative;
  display: block;
  text-align: left;
  font-style: italic;
  padding: 10px 0px 10px 0px;
}

ul {
  list-style-type: none;
}

#content {
  position: relative;
  display: block;
  margin: 0 auto;
  /background-color: #f8f8f6;

  width: 95%;
  border-radius: 10px;
}

#main-text {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
  font-size:55px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#sub-text {
  display: block;
  clear: both;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-family: 'Bad Script', cursive;

}

#jesusImg {
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  width: auto;
  box-shadow: 5px 5px 5px #888888;
}

#jesusPicText {
  position: relative;
  display: block;
  text-align: center;
  margin-top: -1px;
  padding-top: 10px;
  font-size: 13px;
  font-style: italic;
}

#timelineTitle {
  position: relative;
  display: block;
  text-align: center;
  padding: 10px;
  font-size:50px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#timelineList {
  position: relative;
  display: block;
  margin: 0 auto;
}

#listContainer {
  position: relative;
  display: block;
  width: 70%;
  margin: 0 auto;
}

#footer {
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  border-top: 1px solid;
  border-top-color: #999999;
  width: 65%;
  padding: 25px 0px 25px 0px;
}
.cross{
  position:relative;
  display:inline-block;
  height:15px;
  width:17px;
  top:1px;
  right:4px;
  padding-right:4px;
}
li{
  padding:8px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:18px;
}
#moreInfo{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /text-align:center;
  padding:15px;
  font-size:22px;
}
